<dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    >
    <!-- (onCellHoverChanged)="hoverChange($event)" -->
    <dxo-filter-panel [visible]="true" ></dxo-filter-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
    ></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    
    <dxi-column *ngFor="let c of getColumns()" 
        [caption]="c.caption" 
        [dataField]="c.dataField" 
        [dataType]="c.dataType" 
        [width]="c.width"
        [format]="c.format"
        [cellTemplate]="c.dataField === 'actions' ? 'actionsTemplate' : undefined" 
        [allowSorting]="allowVisualOperation(c)"
        [allowSearch]="allowVisualOperation(c)"
        [allowReordering]="allowVisualOperation(c)"
        [allowFiltering]="allowVisualOperation(c)"
        [allowExporting]="allowVisualOperation(c)"
        [allowHiding]="allowVisualOperation(c)"
        [allowGrouping]="allowVisualOperation(c)"
    ></dxi-column>
    
    <div *dxTemplate="let d of 'actionsTemplate'">
        <ng-container *ngFor="let actionInfo of parsedActions(d); trackBy: trackByFn">
            <a
                id="{{actionInfo.trackBy}}"
                [routerLink]="['/', 'rad', 'spr', 'item', d.data.id]"
                (mouseenter)="showOperationTooltip($event, actionInfo)"
                (mouseleave)="hideOperationTooltip($event)"
            >
                <!-- (mousemove)="moveOperationTooltip($event)" -->
                <span style="font-size: larger; color: black; ">{{ actionInfo.glyph }}</span>    
            </a>


        </ng-container>
        
        <dx-tooltip 
            position="top"
            [hideOnOutsideClick]="true"
            (onShowing)="tooltipshowing($event)"
            (onShown)="tooltipshown($event)"
            [visible]="!!currentTooltip?.target && currentTooltip?.rowId == d.data.id.toString()"
            [target]="'#' + currentTooltip?.target"
        >
            {{currentTooltip?.tooltip+ "" }}
        </dx-tooltip>

        <dxo-tooltip [enabled]="false"></dxo-tooltip>
        <!-- <dx-popover 
            [visible]="!!currentTooltip?.target"
            [target]="'#' + currentTooltip?.target"
        >
                popover {{currentTooltip?.tooltip}} {{currentTooltip?.target}}
        </dx-popover> -->

    </div>

    <!-- <dxi-column dataField="id" dataType="number" ></dxi-column>
    <dxi-column caption="Полное наименование" dataField="fullName" datType="string" ></dxi-column>
    <dxi-column caption="ИНН"           dataField="inn"    dataType="string" width="100"></dxi-column>
    <dxi-column caption="КПП"           dataField="kpp"    dataType="string" width="100"></dxi-column>
    <dxi-column caption="КБК"           dataField="kbk"    dataType="string" width="180"></dxi-column>
    <dxi-column caption="Дата создания" dataField="onDate" dataType="date"   width="100" format="dd.MM.yyyy"></dxi-column>
    <dxi-column caption="Дата закрытия" dataField="toDate" dataType="date"   width="100" format="dd.MM.yyyy"></dxi-column> -->

    <!-- <dxi-column dataField="Product" [groupIndex]="0"></dxi-column>
    <dxi-column
        dataField="Amount"
        caption="Sale Amount"
        dataType="number"
        format="currency"
        alignment="right"
    ></dxi-column>
    <dxi-column
        caption="Discount %"
        dataField="Discount"
        cellTemplate="discountCellTemplate"
        dataType="number"
        format="percent"
        alignment="right"
        [allowGrouping]="false"
        cssClass="bullet"
    ></dxi-column>

    <dxi-column dataField="SaleDate" dataType="date"></dxi-column>
    <dxi-column dataField="Region" dataType="string"></dxi-column>
    <dxi-column dataField="Sector" dataType="string"></dxi-column>
    <dxi-column dataField="Channel" dataType="string"></dxi-column>
    <dxi-column dataField="Customer" dataType="string" [width]="150"></dxi-column> -->

    <!-- <div *dxTemplate="let d of 'discountCellTemplate'">
        <div class="chart-cell">
        <dx-bullet
            [showTarget]="false"
            [showZeroLevel]="true"
            [startScaleValue]="0"
            [endScaleValue]="100"
            [value]="d.value * 100"
        >
            <dxo-size [width]="150" [height]="35"></dxo-size>
            <dxo-tooltip
                [text]="'asas'"
                [enabled]="true"
                [paddingTopBottom]="2"
                [customizeTooltip]="customizeTooltip"
                >
                <dxo-font [size]="18"></dxo-font>
            </dxo-tooltip>
            <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
        </dx-bullet>
        </div>
    </div> -->
</dx-data-grid>


